@font-face {
  font-family: "ImpactLabel";
  src: url("fonts/impact-label.ttf") format("truetype");
}

@font-face {
  font-family: "ImpactLabelReversed";
  src: url("fonts/impact-label-rev.ttf") format("truetype");
}

h1 {
  font-family: "ImpactLabel", monospace, sans-serif;
  font-size: 2em;
  padding: 40px 0 5px;
  background-color: #fff;
  text-align: center;
}

h2 {
  font-family: "ImpactLabelReversed", monospace, sans-serif;
  font-size: 1em;
  padding: 5px 0 40px;
  background-color: #fff;
  text-align: center;
}

/* Style for all images */
img {
  max-width: 500px;
  height: auto;
  transition: transform 0.3s;
}

/* Main container for all the images in CSS grid layout. */
#images-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 70px;
  justify-items: center;
  margin-bottom: 50px;
}

/* Wraps each image and its caption. */
.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for all image captions */
.caption {
  text-align: center;
  font-family: "ImpactLabelReversed", monospace, sans-serif;
  font-size: 0.9em;
  margin-top: 15px;
}

/* Style for all image dates */
.date {
  text-align: center;
  font-family: "ImpactLabelReversed", monospace, sans-serif;
  font-size: 0.7em;
  margin-top: 2px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Distribute children evenly */
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.modal-image {
  max-width: 45%;
  height: auto;
  margin-right: 20px;
}

.modal-description {
  flex: 1;
  font-size: 1.2em;
  font-family: "ImpactLabel", monospace, sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

/* Adjusting grid layout for mobile-view (to 1 column grid layout). */
@media (max-width: 768px) {
  #images-container {
    grid-template-columns: 1fr;
  }

  img {
    max-width: 300px;
    height: auto;
    transition: transform 0.3s;
  }

  .modal-content {
    flex-direction: column;
    align-items: center;
  }

  .modal-image {
    max-width: 80%;
    margin-bottom: 20px;
  }

  .modal-description {
    flex: 1;
    font-size: 0.8em;
    font-family: "ImpactLabel", monospace, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}